<div class="profile-container p-6"> 
  <h2 class="text-2xl font-bold mb-4">Profile Page</h2> 
  <div class="profile-section flex items-center justify-between mb-6"> 
    <div class="flex items-center space-x-4"> 
      <img  
        [src]="userProfile.profilePicture"  
        alt="Profile Picture"  
        class="w-16 h-16 rounded-full border-2 border-gray-300" 
      /> 
      <div> 
        <h3 class="text-xl font-semibold">{{ userProfile.nickname }}</h3> 
        <p class="text-sm text-gray-500">{{ userProfile.bio }}</p> 
        <p class="text-xs text-gray-400">Joined: {{ userProfile.joinedDate | date: 'short' }}</p> 
      </div> 
    </div>
  </div> 
  <div class="profile-follow-section flex items-center justify-start space-x-6 mb-6">
    <button 
      class="flex items-center"
      (click)="showFollowing()"
    >
      <span class="mr-2">{{ userProfile.following.length || 0 }} Following</span>
    </button>
    <button 
      class="flex items-center"
      (click)="showFollowers()"
    >
      <span class="mr-2">{{ userProfile.followers.length || 0 }} Follower{{ userProfile.followers.length === 1 ? '' : 's' }}</span>
    </button>
    <button 
      *ngIf="!isCurrentUserProfile() && !isFollowing" 
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      (click)="followUser()"
    >
      Follow
    </button>
    <button 
      *ngIf="!isCurrentUserProfile() && isFollowing" 
      class="bg-gray-300 text-black px-4 py-2 rounded hover:bg-gray-400"
      (click)="unfollowUser()"
    >
      Unfollow
    </button>
    <button 
      *ngIf="isCurrentUserProfile()" 
      (click)="openEditProfileDialog()" 
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
    > 
      Edit Profile 
    </button>
    <button  
    *ngIf="!isCurrentUserProfile()"  
    class="flex items-center justify-center text-white bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md transition-colors duration-300" 
    (click)="sendMessage()" 
    aria-label="Send Message"
  > 
    <i class="fa fa-comment text-xl"></i>
  </button>
  
  </div>
  <div class="toggle-section flex justify-center space-x-4 mb-6">
    <button 
      [class.bg-blue-500]="currentView === 'posts'" 
      [class.text-white]="currentView === 'posts'"
      [class.bg-gray-300]="currentView !== 'posts'" 
      [class.text-gray-600]="currentView !== 'posts'"
      class="toggle-btn rounded-full py-2 px-4 transition-colors duration-300 hover:bg-blue-400 hover:text-white"
      (click)="setView('posts')"
    >
      Posts
    </button>
    <button 
      [class.bg-blue-500]="currentView === 'likedPosts'" 
      [class.text-white]="currentView === 'likedPosts'"
      [class.bg-gray-300]="currentView !== 'likedPosts'" 
      [class.text-gray-600]="currentView !== 'likedPosts'"
      class="toggle-btn rounded-full py-2 px-4 transition-colors duration-300 hover:bg-blue-400 hover:text-white"
      (click)="setView('likedPosts')"
    >
      Liked
    </button>
  </div>  
  <div *ngIf="currentView === 'posts'">
    <app-post-card 
      *ngFor="let post of posts" 
      [post]="post" 
      [currentUserUid]="currentUserUid" 
    ></app-post-card> 
  </div>
  <div *ngIf="currentView === 'likedPosts'">
    <app-post-card
      *ngFor="let likedPost of likedPosts"
      [post]="likedPost"
      [currentUserUid]="currentUserUid"
    ></app-post-card>
  </div>
  <button 
    class="fixed bottom-20 right-6 bg-blue-500 text-white rounded-full p-4 shadow-lg flex items-center justify-center z-10" 
    (click)="openNewPostDialog()" 
    aria-label="Add New Post"
  > 
    <mat-icon>add</mat-icon> 
</button>
</div>