<div class="post-card bg-white p-4 mb-4 rounded shadow-md">
  <div class="flex items-center mb-3">
    <img
      [src]="post.user.profilePicture"
      alt="Profile Picture"
      class="w-12 h-12 rounded-full border-2 border-gray-300 cursor-pointer"
      (click)="navigateToUserProfile()"
    />
    <div class="ml-3">
      <h3
        class="text-lg font-semibold cursor-pointer"
        (click)="navigateToUserProfile()"
      >
        {{ post.user.nickname }}
      </h3>
      <span class="text-sm text-gray-500">{{ post.date | relativeDate }}</span>
    </div>
  </div>
  <div class="cursor-pointer" (click)="navigateToPostView()">
    <h2 class="text-xl font-bold mb-2">{{ post.title }}</h2>
    <p class="text-gray-700">{{ post.content }}</p>
  </div>
  <div class="flex items-center justify-between mt-3">
    <button
      (click)="toggleReplyInput()"
      class="text-blue-500"
    >
      Reply
    </button>
    <div class="flex items-center space-x-4">
      <div class="flex items-center">
        <mat-icon>chat_bubble_outline</mat-icon>
        <span class="text-gray-700 ml-2">
          {{ repliesCount }}
        </span>
      </div>
      <div class="flex items-center">
        <button
          class="like-button"
          [class.liked]="isLikedByCurrentUser"
          (click)="toggleLike()"
          aria-label="Toggle like"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <span class="text-gray-700 ml-2">
          {{ post.likes.length === 0 ? '' : post.likes.length }}
        </span>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div *ngIf="showReplyInput" class="mt-2">
      <textarea
        [(ngModel)]="replyContent"
        rows="3"
        placeholder="Write your reply..."
        class="w-full p-2 border rounded"
      ></textarea>
      <div class="flex justify-end mt-2">
        <button
          (click)="saveReply()"
          class="bg-blue-500 text-white px-4 py-2 rounded"
          [disabled]="!replyContent.trim()"
        >
          Save Reply
        </button>
      </div>
    </div>
  </div>
</div>
