<div class="home-container p-6">
    <h1 class="text-3xl font-bold mb-6">Welcome to the Home Page</h1>
    <div *ngFor="let post of posts" class="post-card bg-white p-4 mb-4 rounded shadow-md">
      <div class="flex items-center mb-3">
        <img [src]="post.user.profilePicture" alt="Profile Picture" class="w-12 h-12 rounded-full border-2 border-gray-300">
        <div class="ml-3">
          <h3 class="text-lg font-semibold">{{ post.user.nickname }}</h3>
          <span class="text-sm text-gray-500">{{ post.date }}</span>
        </div>
      </div>
      <h2 class="text-xl font-bold mb-2">{{ post.title }}</h2>
      <p class="text-gray-700">{{ post.content }}</p>
    </div>
    <button
    class="fixed bottom-6 right-6 bg-blue-500 text-white rounded-full p-4 shadow-lg flex items-center justify-center"
    (click)="openNewPostDialog()"
    aria-label="Add New Post"
  >
    <mat-icon>add</mat-icon>
  </button>
  </div>
  